PORT=5000
AUTH_SERVICE_URL=http://localhost:5001
PARKING_SERVICE_URL=http://localhost:5002
ENTRY_SERVICE_URL=http://localhost:5003
REPORT_SERVICE_URL=http://localhost:5004
FRONTEND_URL=http://localhost:3000
